@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ubuntu";
    src: url("@/assets/fonts/Inter-Regular.woff2") format("woff2"),
      url("@/assets/fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  // ... Include all the font weights and styles you need
}
