@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "UbuntuBold";
    src: url("@/src/fonts/Ubuntu-Bold.woff2") format("woff2"),
      url("@/src/fonts/Ubuntu-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "UbuntuLight";
    src: url("@/src/fonts/Ubuntu-Light.woff2") format("woff2"),
      url("@/src/fonts/Ubuntu-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DIN Alternate";
    src: url("DINAlternate-Bold.woff2") format("woff2"),
      url("DINAlternate-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}
